/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

body {
	background-color: rgb(27, 27, 27);
}

header {
  min-height: 4em;
  position: fixed;
  background: rgb(97, 85, 119);
  top: 0;
  right: 0;
  left: 0;
}

header h1 {
  color: rgb(186, 186, 186);
  font-size: 25px;
  text-align: left;
  
}

img {
	max-width: 100%;
    max-height: 100%;
}

p {
	font-size: 28px;
	color: hsla(0, 0%, 62%, 1);
}
.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 76em;
	height: 40%;
}
.navbar a {
	text-decoration: none;
	font-size: 230%;
	color: rgb(186, 186, 186);
}
.navbar a:hover {
	color: #a68ed2;
}
.firefox {
	position: fixed;
	top: 8em;
}
.paypal {
	position: fixed;
	top: 10em;
}
.contact {
	position: fixed;
	top: 12em;
}
.box { 
	position: relative;
    margin:auto;
    width: 65%;
	height: 80%;
    border: none;
	top:6em;
	color:rgb(186, 186, 186);
	text-align:center;
}

@media (min-width: 1920px) {
	
.box {
    width: 60%;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 108em;
	height: 40%;
}

.firefox {
	position: fixed;
	top: 11em;
}
.paypal {
	position: fixed;
	top: 13em;
}
.contact {
	position: fixed;
	top: 15em;
}

}


@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .box { 
	top:20%;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 72em;
	height: 40%;
}

.firefox {
	position: fixed;
	top: 11em;
}
.paypal {
	position: fixed;
	top: 13em;
}
.contact {
	position: fixed;
	top: 15em;
}

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}
	
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}
  